@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v15/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup5.ttf) format('truetype');
}
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'), url(https://fonts.gstatic.com/s/kalam/v10/YA9dr0Wd4kDdMthROCI.ttf) format('truetype');
}
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(2px) translateZ(0);
  transform: perspective(2px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
html,
body {
  height: 100%;
}
.spinner {
  margin: auto;
  font-size: 100px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}
#logo {
  max-height: 75px;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #3fb3a0;
}
.badge {
  color: #49515a;
  border: 1px solid #49515a;
  padding: 5px !important;
}
.w-30 {
  width: 30%;
}
.navbar-brand {
  padding: 0 !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #f3f3f3d1 !important;
  cursor: pointer;
}
.form-wrapper {
  text-align: left;
}
.wrapper {
  padding-bottom: 2.5rem;
}
.footer {
  height: 2.5rem;
  color: #f3f3f3d1;
  line-height: 2.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.react-autosuggest__container {
  position: relative;
}
.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  border-color: blue;
}
.react-autosuggest__input--focused {
  outline: none;
}
.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-container {
  display: none;
}
.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: lightblue;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  color: royalblue;
  font-style: italic;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}
.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
.card-link {
  height: 100%;
}
#cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  clear: both;
}
#cards-container .card {
  background-image: url("https://media.istockphoto.com/vectors/white-grey-gradient-studio-room-background-vector-eps-10-vector-id1145390344?k=6&m=1145390344&s=170667a&w=0&h=Ww4KTAjK12ftThBgMaYUQamE3DPFkyD-uEfdFXll2iI=");
  position: relative;
  color: #49515a;
  margin: 1rem;
  width: 300px;
  height: 500px;
}
#cards-container .card .manage-post {
  position: absolute;
  left: 2px;
  top: 2px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  animation: 1s fadeIn;
  transition: 0.5s ease;
}
#cards-container .card .manage-post a {
  color: #fff;
  padding: 0 5px;
  border-radius: 5px;
}
#cards-container .card .manage-post a.edit {
  background: #ffc107;
}
#cards-container .card .manage-post a.delete {
  background: #dc3545;
}
#cards-container .card .manage-post a:last-child {
  margin-left: 2px;
}
#cards-container .card .card-link {
  text-decoration: none;
}
#cards-container .card .card-link .card-body {
  position: relative;
  color: #3aade2;
}
#cards-container .card .card-link .card-body .card-title {
  margin-top: 0.75rem;
  color: royalblue;
}
#cards-container .card .card-link .card-body .card-text {
  height: 150px;
  overflow: hidden;
  color: #49515a;
}
#cards-container .card .card-link .card-body a {
  display: block;
  height: 40px;
}
#cards-container .card .card-link .card-body a .explore {
  position: absolute;
  left: 50%;
  margin-left: -39px;
  bottom: 5px;
}
#cards-container .card:hover {
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.75);
}
#cards-container .card:hover .manage-post {
  opacity: 1;
  pointer-events: initial;
  z-index: 1;
}
.home-page h1 {
  font-family: 'Dancing Script';
  font-size: 6.5rem;
  position: relative;
  margin-top: 20px;
  font-size: 70px;
  text-decoration: none;
  color: #666;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(50%, rgba(0, 0, 0, 0.5)), to(#000000));
}
.home-page #home-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.home-page #background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  /* Ensure div tag stays behind content; -999 might work, too. */
}
.home-page #background .stretch {
  width: 100%;
  height: 100%;
}
.home-page .see-all {
  color: #3aade2;
}
.home-page .card {
  background-image: url("https://media.istockphoto.com/vectors/white-grey-gradient-studio-room-background-vector-eps-10-vector-id1145390344?k=6&m=1145390344&s=170667a&w=0&h=Ww4KTAjK12ftThBgMaYUQamE3DPFkyD-uEfdFXll2iI=");
}
.home-page .card-body {
  color: #3aade2;
}
.home-page .card:hover {
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px 3px rgba(168, 170, 173);
}
.profile #background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  /* Ensure div tag stays behind content; -999 might work, too. */
}
.profile #background .stretch {
  width: 100%;
  height: 100%;
}
.profile header h1 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
  color: white;
  text-shadow: 1px 1px 2px royalblue, 0 0 25px royalblue, 0 0 5px #3fb3a0;
}
.profile h2 {
  text-align: left;
  color: royalblue;
}
.profile h3 {
  color: royalblue;
  background-color: lightgrey;
  padding: 0.5rem;
}
.profile h4 {
  text-align: left;
  color: royalblue;
}
.profile h5 {
  text-align: left;
}
.profile img {
  width: 250px;
  border-color: #3fb3a0;
  border-style: double;
  border-radius: 4%;
}
.profile #tags {
  font-size: 1.5rem;
  text-align: left;
}
.profile .flex-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.profile .user-posts {
  flex: 0 0 100%;
  margin: 2rem 0;
}
.profile .edit-post h1,
.profile .edit-post .delete {
  display: inline-block;
}
.profile .edit-post .delete {
  margin-left: 2rem;
  vertical-align: top;
}
.profile .edit-post .form-wrapper .danger {
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  padding: 1.5rem;
  background: #dc3545;
  color: #fff;
  border-radius: 5px;
}
#auto-suggest {
  min-width: 300px !important;
}
.user-skills {
  display: flex;
}
.user-skills div:first-child {
  line-height: 55px;
  color: royalblue;
}
.user-skills div {
  flex: 1;
}
.advanced-search {
  background: #f5f5f5;
}
.advanced-search .duo-date {
  z-index: 1;
}
.advanced-search .search-wrapper {
  display: flex;
  justify-content: space-around;
}
.post-page #advanced-search-container.toggle-advanced-search .advanced-search {
  height: 500px !important;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s, visibility 0.5s, height 0.5s ease;
  padding-top: 10%;
}
.post-page #advanced-search-container .advanced-search {
  position: relative;
  transition: opacity 0.2s, visibility 0.2s, height 1s ease;
  visibility: hidden;
  height: 0 !important;
  opacity: 0;
}
.post-page #advanced-search-container .advanced-search .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #dc3545;
  height: 1.5rem;
  width: 1.5rem;
  color: #ffff;
  opacity: 1;
  border-radius: 50%;
  border: none;
  outline: none !important;
  box-shadow: none;
}
.post-page #advanced-search-container .advanced-search .close span {
  vertical-align: text-top;
  line-height: 1.2rem;
  margin-left: 1px;
  border: none;
}
.post-page #advanced-search-container .advanced-search #advanced-submit-button {
  margin-right: 2rem;
  margin-top: 2rem;
}
.post-page #advanced-search-container h5 {
  color: #4e555b;
}
.post-page .success,
.post-page .danger,
.post-page .warning {
  position: absolute;
  top: 150px;
  right: 50px;
  height: 50px;
  width: 200px;
  line-height: 50px;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s;
  animation: 8s fadeOut;
}
.post-page .success {
  background: #28a745;
}
.post-page .danger {
  background: #dc3545;
}
.post-page .warning {
  background: #ffc107;
  color: #212529;
}
.post-page .posts_img {
  max-width: 100%;
  width: 80%;
  left: calc(50% - 80% / 2);
  max-height: 500px;
  position: absolute;
}
.post-page .banner {
  background: rgba(63, 179, 160, 0.5);
  color: white;
  margin-top: 10px;
  align-items: center;
  padding: 15px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}
.post-page .banner .banner-link {
  background-color: white;
  text-decoration: none;
  padding: 5px;
  color: #3fb3a0;
  border-radius: 5px;
}
.list-users #advanced-search-container.toggle-advanced-search .advanced-search {
  height: 400px !important;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s, visibility 0.5s, height 0.5s ease;
}
.list-users #advanced-search-container .advanced-search {
  position: relative;
  transition: opacity 0.2s, visibility 0.2s, height 1s ease;
  visibility: hidden;
  height: 0 !important;
  opacity: 0;
  padding: 0;
}
.list-users #advanced-search-container .advanced-search .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #dc3545;
  height: 1.5rem;
  width: 1.5rem;
  color: #ffff;
  opacity: 1;
  border-radius: 50%;
  border: none;
  outline: none !important;
  box-shadow: none;
}
.list-users #advanced-search-container .advanced-search .close span {
  vertical-align: text-top;
  line-height: 1rem;
  margin-left: 1px;
  border: none;
}
.list-users #advanced-search-container .advanced-search #advanced-submit-button {
  margin-right: 1rem;
}
.list-users #advanced-search-container h5 {
  color: royalblue;
}
.post-container {
  background: #e0ffff;
  padding: 2rem 1.5rem;
  width: 70%;
  margin: 2% auto;
  text-align: left;
}
.post-container .post-title {
  color: royalblue;
  font-size: 32px;
  padding-bottom: 3%;
}
.post-container .applicants-container {
  display: flex;
  gap: 2rem;
}
.post-container .applicants-container .applicant-actions {
  display: grid;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
}
.post-container .applicants-container .applicant-actions .user-link {
  grid-column-start: 1;
  grid-column-end: 3;
}
.post-container .applicants-container .applicant-actions .actions-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.post-container .applicants-container .applicant-actions .actions-container .contact,
.post-container .applicants-container .applicant-actions .actions-container .assign {
  padding: 8px 10px;
  cursor: pointer;
}
.post-container .applicants-container .applicant-actions .actions-container .assign {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.post-container .post-details {
  color: #4e555b;
  font-size: 20px;
  flex-wrap: wrap;
}
.post-container .post-details .user-link {
  width: 100%;
}
.post-container .post-details .small {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1.24rem;
  flex-wrap: wrap;
  font-size: 0.75em;
  background: #343a40;
  border-radius: 4px;
  padding: 6px 0;
  color: #fff;
}
.post-container .post-details .small .post-status {
  box-sizing: content-box;
}
.post-container .post-details .small .active {
  color: #28a745;
}
.post-container .post-details .small .pending {
  color: orange;
}
.post-container .post-details .small .completed {
  color: #0066ff;
}
.post-container .post-details .tags {
  margin: 1.25rem;
  display: flex;
  text-align: center;
}
.post-container .desc {
  overflow-y: auto;
  min-height: 15vh;
  padding: 10px;
  line-height: 32px;
}
.post-container .end-alignment {
  display: flex;
  justify-content: flex-end;
}
.post-container .twitter-btn {
  background-color: royalblue;
  border-color: royalblue;
}
.post-container .post-actions {
  margin: 2% auto;
}
.post-container .post-actions .edit,
.post-container .post-actions .delete {
  color: #fff;
  padding: 10px;
  margin: 1%;
  border-radius: 5px;
}
.post-container .post-actions .edit {
  background: #ffc107;
}
.post-container .post-actions .delete {
  background: #dc3545;
}
.fa-eye {
  margin: 0 3px;
}
.create-post #create-post-background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  /* Ensure div tag stays behind content; -999 might work, too. */
}
.create-post #create-post-background .stretch {
  width: 100%;
  height: 100%;
}
.slider-card {
  margin: 1rem;
  width: 300px;
  height: 400px;
}
.post-page #background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  /* Ensure div tag stays behind content; -999 might work, too. */
}
.post-page #background .stretch {
  width: 100%;
  height: 100%;
}
.post-page .writer-container {
  margin: 2rem 0 1rem 0;
}
.post-page .writer-container .writer {
  height: 180px;
  color: #49515a;
}
.post-page .writer-container .writer .list-title {
  font-family: 'Cookie', Helvetica, sans-serif;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 2px royalblue, 0 0 25px royalblue, 0 0 5px #3fb3a0;
}
.about #background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  /* Ensure div tag stays behind content; -999 might work, too. */
}
.about #background .stretch {
  width: 100%;
  height: 100%;
}
.about .head {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
}
.about .head img {
  height: 320px;
  width: 735px;
}
.about .head h1 {
  font-size: 65px;
  color: white;
  text-shadow: 1px 1px 2px royalblue, 0 0 25px royalblue, 0 0 5px #3fb3a0;
}
.about .head .body_text {
  color: dimgrey;
}
.about #our-team h1 {
  color: royalblue;
  padding-top: 5%;
  padding-bottom: 1%;
  font-family: 'Dancing Script';
  font-size: 40px;
  text-shadow: 2px 2px #c7d8ea;
}
.about #our-team #team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about #our-team #team-container h5 {
  color: royalblue;
}
.about #our-team #team-container > div {
  width: 15%;
  margin-right: 2rem;
}
.about #our-team #team-container > div img {
  width: 180px;
  height: 200px;
  margin-right: 20px;
  border-radius: 5%;
}
.about .title {
  color: royalblue;
  padding-top: 7%;
  font-family: 'Dancing Script';
  font-size: 40px;
  text-shadow: 2px 2px #c7d8ea;
}
.about .chart {
  padding-top: 4%;
}
.about .chart div {
  color: #4e555b;
  font-size: 15px;
  padding-bottom: 3%;
  text-decoration: underline;
}
.list-users #background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  /* Ensure div tag stays behind content; -999 might work, too. */
}
.list-users #background .stretch {
  width: 100%;
  height: 100%;
}
.list-users .writer-container {
  margin: 2rem 0 1rem 0;
}
.list-users .writer-container .writer {
  height: 180px;
  color: #49515a;
}
.list-users .writer-container .writer h1 {
  font-family: 'Cookie', Helvetica, sans-serif;
  color: white;
  text-shadow: 1px 1px 2px royalblue, 0 0 25px royalblue, 0 0 5px #3fb3a0;
}
.post-container #background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  /* Ensure div tag stays behind content; -999 might work, too. */
}
.post-container #background .stretch {
  width: 100%;
  height: 100%;
}
.create-post h1 {
  color: royalblue;
}
/*# sourceMappingURL=App.css.map */