@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam');

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(2px) translateZ(0);
  transform: perspective(2px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}


.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

html, body {
  height: 100%;
}

.spinner {
  margin: auto;
  font-size: 100px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

#logo {
  max-height: 75px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #3fb3a0;
}

.badge {
  color: #49515a;
  border: 1px solid #49515a;
  padding: 5px !important;
}

.w-30 {
  width: 30%;
}

.navbar-brand {
  padding: 0 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f3f3f3d1 !important;
  cursor: pointer;
}

.form-wrapper {
  text-align: left;
}

.wrapper {
  padding-bottom: 2.5rem;
}

.footer {

  height: 2.5rem;
  color: #f3f3f3d1;
  line-height: 2.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;

}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  border-color: blue;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: lightblue;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  color: royalblue;
  font-style: italic;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.card-link {
  height: 100%;
}

#cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  clear: both;

  .card {
    position: relative;
    color: #49515a;
    margin: 1rem;
    width: 300px;
    height: 400px;

    .manage-post {
      position: absolute;
      left: 2px;
      top: 2px;
      opacity: 0;
      pointer-events: none;
      display: flex;
      animation: 1s fadeIn;
      transition: 0.5s ease;

      a {
        color: #fff;
        padding: 0 5px;
        border-radius: 5px;

        &.edit {
          background: #ffc107;
        }

        &.delete {
          background: #dc3545;
        }

        &:last-child {
          margin-left: 2px;
        }
      }
    }

    .card-link {
      text-decoration: none;

      .card-body {
        position: relative;
        color: #3aade2;

        .card-title {
          margin-top: 0.75rem;
          color: royalblue;
        }

        .card-text {
          height: 150px;
          overflow: hidden;
          color: #49515a;
        }

        a {
          display: block;
          height: 40px;

          .explore {
            position: absolute;
            left: 50%;
            margin-left: -39px;
            bottom: 5px;
          }
        }
      }
    }

    &:hover {
      -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.75);

      .manage-post {
        opacity: 1;
        pointer-events: initial;
        z-index: 1;
      }
    }
  }
}

.home-page {
  h1 {
    font-family: 'Dancing Script';
    font-size: 6.5rem;
    position: relative;
    margin-top: 20px;
    font-size: 70px;
    text-decoration: none;
    color: #666;

    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), color-stop(50%, rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 1)));

  }

  #home-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  #background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
  }

  #background .stretch {
    width: 100%;
    height: 100%;
  }

  .see-all {
    color: #3aade2;
  }

  .card {

  }

  .card-body {
    color: #3aade2;
  }

  .card:hover {
    -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 10px 3px rgba(168, 170, 173);
  }
}


.profile {
  #background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
  }

  #background .stretch {
    width: 100%;
    height: 100%;
  }

  header {
    h1 {
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 3rem;
      color: white;
      text-shadow: 1px 1px 2px royalblue, 0 0 25px royalblue, 0 0 5px #3fb3a0;
    }
  }

  h2 {
    text-align: left;
    color: royalblue;
  }

  h3 {
    color: royalblue;
    background-color: lightgrey;
    padding: 0.5rem;
  }

  h4 {
    text-align: left;
    color: royalblue;
  }

  h5 {
    text-align: left;
  }

  img {
    width: 250px;
    border-color: #3fb3a0;
    border-style: double;
    border-radius: 4%;
  }


  #tags {
    font-size: 1.5rem;
    text-align: left;
  }

  .flex-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  .user-posts {
    flex: 0 0 100%;
    margin: 2rem 0;
  }

  .edit-post {
    h1, .delete {
      display: inline-block;
    }

    .delete {
      margin-left: 2rem;
      vertical-align: top;
    }

    .form-wrapper {
      .danger {
        text-align: center;
        font-weight: 600;
        margin-top: 20px;
        padding: 1.5rem;
        background: #dc3545;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
}

#auto-suggest {
  min-width: 300px !important;
}

.advanced-search {
  background: #f5f5f5;

  .duo-date {
    z-index: 1;
  }

  .search-wrapper {
    display: flex;
    justify-content: space-around;
  }
}


.post-page {
  #advanced-search-container {
    &.toggle-advanced-search {
      .advanced-search {
        height: 500px !important;
        visibility: visible;
        opacity: 1;
        transition: opacity 1s, visibility 0.5s, height 0.5s ease;
        padding-top: 10%;
      }
    }

    .advanced-search {
      position: relative;
      transition: opacity 0.2s, visibility 0.2s, height 1s ease;
      visibility: hidden;
      height: 0 !important;
      opacity: 0;

      .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: #dc3545;
        height: 1.5rem;
        width: 1.5rem;
        color: #ffff;
        opacity: 1;
        border-radius: 50%;
        border: none;
        outline: none !important;
        box-shadow: none;

        span {
          vertical-align: text-top;
          line-height: 1.2rem;
          margin-left: 1px;
          border: none;
        }
      }

      #advanced-submit-button {
        margin-right: 2rem;
        margin-top: 2rem;
      }
    }

    h5 {
      color: #4e555b;
    }
  }

  .success, .danger, .warning {
    position: absolute;
    top: 150px;
    right: 50px;
    height: 50px;
    width: 200px;
    line-height: 50px;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s;
    animation: 8s fadeOut;
  }

  .success {
    background: #28a745;
  }

  .danger {
    background: #dc3545;
  }

  .warning {
    background: #ffc107;
    color: #212529;
  }

  .posts_img {
    max-width: 100%;
    width: 80%;
    left: calc(50% - 80% / 2);
    max-height: 500px;
    position: absolute;
  }

  .banner {
    background: rgba(63, 179, 160, .5);
    color: white;
    margin-top: 10px;
    align-items: center;
    padding: 15px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;

    .banner-link {
      background-color: white;
      text-decoration: none;
      padding: 5px;
      color: rgba(63, 179, 160, 1);;
      border-radius: 5px;
    }
  }
}

.about {

}

.list-users {
  #advanced-search-container {
    &.toggle-advanced-search {
      .advanced-search {
        height: 400px !important;
        visibility: visible;
        opacity: 1;
        transition: opacity 1s, visibility 0.5s, height 0.5s ease;
      }
    }

    .advanced-search {
      position: relative;
      transition: opacity 0.2s, visibility 0.2s, height 1s ease;
      visibility: hidden;
      height: 0 !important;
      opacity: 0;
      padding: 0;

      .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: #dc3545;
        height: 1.5rem;
        width: 1.5rem;
        color: #ffff;
        opacity: 1;
        border-radius: 50%;
        border: none;
        outline: none !important;
        box-shadow: none;

        span {
          vertical-align: text-top;
          line-height: 1rem;
          margin-left: 1px;
          border: none;
        }
      }

      #advanced-submit-button {
        margin-right: 1rem;
      }
    }

    h5 {
      color: royalblue;
    }
  }
}

.post-container {

  background: #e0ffff;
  padding: 2rem 1.5rem;
  width: 70%;
  margin: 2% auto;
  text-align: left;

  .post-title {
    color: royalblue;
    font-size: 32px;
    padding-bottom: 3%;
  }

  .applicants-container {
    display: flex;
    gap: 2rem;

    .applicant-actions {
      display: grid;
      grid-template-columns: 1fr;
      flex-wrap: wrap;

      .user-link {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      .actions-container {
        display: flex;
        gap: 1rem;
        justify-content: center;

        .contact, .assign {
          padding: 8px 10px;
          cursor: pointer;
        }

        .assign {
          color: #fff;
          background-color: #28a745;
          border-color: #28a745;
        }
      }
    }
  }

  .post-details {
    color: #4e555b;
    font-size: 20px;
    flex-wrap: wrap;

    .user-link {
      width: 100%;
    }

    .small {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 1.24rem;
      flex-wrap: wrap;
      font-size: 0.75em;
      background: #343a40;
      border-radius: 4px;
      padding: 6px 0;
      color: #fff;

      .post-status {
        box-sizing: content-box;
      }

      .active {
        color: #28a745;
      }

      .pending {
        color: orange;
      }

      .completed {
        color: #0066ff;
      }
    }

    .tags {
      margin: 1.25rem;
      display: flex;
      text-align: center;
    }
  }

  .desc {
    overflow-y: auto;
    min-height: 15vh;
    padding: 10px;
    line-height: 32px;
  }

  .end-alignment {
    display: flex;
    justify-content: flex-end;
  }

  .twitter-btn {
    background-color: royalblue;
    border-color: royalblue;
  }

  .post-actions {
    margin: 2% auto;

    .edit, .delete {
      color: #fff;
      padding: 10px;
      margin: 1%;
      border-radius: 5px;
    }

    .edit {
      background: #ffc107;
    }

    .delete {
      background: #dc3545;
    }
  }
}

.fa-eye {
  margin: 0 3px;
}

.create-post #create-post-background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.create-post #create-post-background .stretch {
  width: 100%;
  height: 100%;
}

.slider-card {
  margin: 1rem;
  width: 300px;
  height: 400px;
}

.post-page #background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.post-page #background .stretch {
  width: 100%;
  height: 100%;
}

.post-page .writer-container {
  margin: 2rem 0 1rem 0;

  .writer {
    height: 180px;
    color: #49515a;

    .list-title {
      font-family: 'Cookie', Helvetica, sans-serif;
      font-size: 50px;
      color: white;
      text-shadow: 1px 1px 2px royalblue, 0 0 25px royalblue, 0 0 5px #3fb3a0;
    }
  }
}


.about #background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.about #background .stretch {
  width: 100%;
  height: 100%;
}

.about {
  .head {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;

    img {
      height: 320px;
      width: 735px;
    }

    h1 {
      font-size: 65px;
      color: white;
      text-shadow: 1px 1px 2px royalblue, 0 0 25px royalblue, 0 0 5px #3fb3a0;
    }

    .body_text {
      color: dimgrey;
    }
  }

  #our-team {
    h1 {
      color: royalblue;
      padding-top: 5%;
      padding-bottom: 1%;
      font-family: 'Dancing Script';
      font-size: 40px;
      text-shadow: 2px 2px #c7d8ea;
    }

    #team-container {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;

      h5 {
        color: royalblue;
      }

      > div {
        width: 15%;

        img {
          width: 180px;
          height: 200px;
          border-radius: 5%;
        }
      }
    }
  }

  .title {
    color: royalblue;
    padding-top: 7%;
    font-family: 'Dancing Script';
    font-size: 40px;
    text-shadow: 2px 2px #c7d8ea;
  }

  .chart {
    padding-top: 4%;

    div {
      color: #4e555b;
      font-size: 15px;
      padding-bottom: 3%;
      text-decoration: underline;
    }
  }
}

.list-users #background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.list-users #background .stretch {
  width: 100%;
  height: 100%;


}

.list-users .writer-container {
  margin: 2rem 0 1rem 0;

  .writer {
    height: 180px;
    color: #49515a;

    h1 {
      font-family: 'Cookie', Helvetica, sans-serif;;
      color: white;
      text-shadow: 1px 1px 2px royalblue, 0 0 25px royalblue, 0 0 5px #3fb3a0;
    }
  }
}

.post-container #background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.post-container #background .stretch {
  width: 100%;
  height: 100%;
}

.create-post h1 {
  color: royalblue;
}