doctype html
html
    head
        title Full Stack Project
        link(rel='stylesheet' type="text/css" href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' type="text/css" href='/css/style.css')
        
    body
        nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
            a.navbar-brand(href='#') Navbar
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/')
                            | Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/articles/add') Add Article
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
                    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        hr
        .container.mt-5
            block content
            br
            hr
            footer
                p Copyright &copy; 2017
        script(src='/jquery/dist/jquery.min.js')
        script(src='/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')