@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";

.message-list-items {
  height: 65vh;
  overflow-y: scroll;
}
.other {
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
  width: 400px;
  height: fit-content;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #97C6E3;
  border-radius: 10px;
}
.current {
  position: relative;
  margin-bottom: 10px;
  margin-left: calc(100% - 440px);
  background-color: #dcf8c6;
  width: 400px;
  height: fit-content;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #cccccc;
  border-radius: 10px;
}
.message-timestamp-other {
  position: absolute;
  font-size: .85em;
  font-weight: 300;
  bottom: 5px;
  right: 5px;
}
.message-timestamp-current {
  position: absolute;
  font-size: .85em;
  font-weight: 300;
  bottom: 5px;
  left: 5px;
}
.message-header {
  margin-left: auto;
  //background: #f1f0f0;
  h6 {
    margin: 0;
  }
}
.message-content {
  word-wrap: break-word
}

.message {
  padding: 1rem 0.5rem 0.5rem 1rem;
  .date {
    color: grey;
  }
}
.room {
  box-shadow: 0 0 8px 0px #3fb3a0;
  background: url("/msg-tapet3.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  .title {
    color: #000;
  }
  .room-list {
    background: rgba(63, 179, 160, 0.31);
    padding: 0.65rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;
      &:first-child {
        border-top: solid 1px #d1dadf;
      }
      .room-item {
        margin-top: 0.4rem;
        &.selected {
          box-shadow: 0 0 5px 1px #0066ff;
        }
        &:hover {
          transform: scale(1.04);
          box-shadow: 0 0 5px 1px #0066ff;
        }
        padding: 0.5rem 1rem 3.5rem 1rem;
        border-bottom: solid 1px #d1dadf;
        border-radius: 5px;
        cursor: pointer;
        background: #fff;
        transition: .1s;
        .last-msg {
          font-size: 0.75em;
          margin-top: 0.5rem;
        }
      }
      .users {
        font-weight: bold ;
      }
    }
  }
}


#messageEnd {
  margin-top: -10rem;
  height: 50px;
}

