.MapStyle {
    margin: 20px auto 100px auto !important;
    position: relative !important;
    width: 800px !important;
    transition: padding-bottom 1s, height 4s;
    padding-bottom: 30%;
}
.MapStyle:hover {
    width: 800px !important;
    height: 100% !important;
    padding-bottom: 56.25%;
}